<!doctype html>
<meta charset="utf-8">
<title>Loot-filter creator for &laquo;Path of Exile&raquo;</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='libs/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='libs/ng-range-slider/default.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='libs/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/ui-bootstrap/ui-bootstrap-tpls-0.13.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/ng-range-slider/ng-range-slider.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block body %}
<div class="container">
    {% block header %}
    <div class="row" style="background-color: black; color: white">
        <div class="col-xs-12">
            <h1>Loot-filter creator for &laquo;Path of Exile&raquo;</h1>
        </div>
    </div>
    {% endblock %}
    {% block grid %}
    <div class="row">
        <div class="col-xs-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</div>
{% endblock %}